* {
  font-family: "Cinzel", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

#amelioration-menu {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
  position: absolute;
  bottom: 0%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.315);
  right: 19%;
  width: 300px;
}

.amelioration-menu__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

#information-menu {
  padding: 20px;
  position: absolute;
  left: 19%;
  bottom: 0%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.315);
  color: white;
}

.information-menu__row {
  display: flex;
  margin-bottom: 5px;
  width: 300px;
  justify-content: space-between;
}

#amelioration-menu div {
  display: flex;
}

#amelioration-menu button {
  padding: 5px 10px;
  width: 90px;
  border: none;
  background-color: rgb(7, 0, 54);
  color: white;
  cursor: pointer;
}

#amelioration-menu button:hover {
  background-color: rgb(16, 0, 117);
}

#canvas1 {
  border: 5px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #4d79bc;
  max-width: 100%;
  max-height: 100%;
  font-family: "Cinzel", cursive;
}

#layer1,
#layer4,
#player,
#minion1,
#torpedo,
#boss,
#projectile,
#wave {
  display: none;
}
